<main>
  <ul>
  <% @recipes.each do |recipe| %>
    <li class="d-flex gap-3">
      <div>
        <h2>
         <%= link_to recipe_path(recipe.id), method: 'get' do %>
            <%= recipe.name %>
          <% end %>
        </h2>
        <%= form_with(model: recipe, method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
          <%= form.submit "Delete" %>
        <% end %>
      </div>
      <p>
        <%= recipe.description %>
      </p>        
    </li>
  <% end %>
  </ul>
  <%= button_to 'New Recipe', new_recipe_path, method: 'get' %>
</main>
    