<main class='container-fluid px-5'>
  <div>
    <h1 class='text-center'>
      <%= @recipe.name %>
    </h1>
    <div class= 'd-flex gap-3 justify-content-between'>
      <div>
        <p>
          Preparation time:
          <%= @recipe.preparation_time %>
        </p>
        <p>
          Cooking time:  
          <%= @recipe.cooking_time %>
        </p>
      </div>
      <div class='d-flex gap-2'>
        <p class="form-check-label">Public</p>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= @recipe.public ? 'checked' : '' %> disabled >
        </div>
      </div>
    </div>
    <p>
      <%= @recipe.description %>
    </p>
  </div>
</main>