<main class='container-fluid px-5'>
  <div>
    <h1 class='text-center'>
      <%= @recipe.name %>
    </h1>
    <div class= 'd-flex gap-3 justify-content-between'>
      <div>
        <p>
          Preparation time:
          <%= @recipe.preparation_time %>
        </p>
        <p>
          Cooking time:  
          <%= @recipe.cooking_time %>
        </p>
      </div>
      <div class='d-flex gap-2'>
        <p class="form-check-label">Public</p>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= @recipe.public ? 'checked' : '' %> disabled >
        </div>
      </div>
    </div>
    <p>
      <%= @recipe.description %>
    </p>
  </div>
</main>
<section class='container-fluid px-5'>
  <div class='d-flex justify-content-between'>  
    <%= link_to 'Show Inventory Modal', '#inventory-modal', data: { toggle: 'modal' } %>
    <% if can? :create, @recipe %>
      <%= button_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), method: :get, class:'btn-1' %>
    <% end %>
  </div>
  <div class='border border-3 border-dark w-100 mt-4'>
  </div>
  <table class='border border-3 border-dark table table-hover'>
    <thead class='bg-secondary'>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <% if can? :update, @recipe %>
          <th class='w-25'>Actions</th>
        <% end %>
      </tr>
    </tbody>
    <tbody>
      <% @recipe_foods.each do |recipe_food| %>
        <tr class='align-middle'>
          <td>
            <%= recipe_food.food.name %>
          </td>
          <td>
            <%= recipe_food.quantity %> <%= recipe_food.food.unit %>
          </td>
          <td>
            &dollar; <%= recipe_food.food.price * recipe_food.quantity %>
          </td>
          <% if can? :update, @recipe %>
            <td class='d-flex gap-2'>
              <%= button_to 'Modify', edit_recipe_recipe_food_path(recipe_id: params[:id], id: recipe_food.id), method: :get, class:'link-set text-primary' %>
              <%= button_to 'Remove', recipe_recipe_food_path(recipe_id: params[:id], id: recipe_food.id), method: :delete, class:'link-set text-primary' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<div class="modal fade" id="inventory-modal" tabindex="-1" role="dialog" aria-labelledby="inventoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inventoryModalLabel">Inventories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag shopping_lists_path, method: :post do %>
          <div class="form-group">
            <%= label_tag :inventory, 'Select Inventory' %>
            <%= select_tag :inventory_id, options_from_collection_for_select(@inventories, :id, :name), class: 'form-control' %>
          </div>
          <%= hidden_field_tag :recipe_id, params[:id] %>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


