<main>
  <h1><%= @recipe.name %></h1>
  <div class= 'd-flex gap-3'>
    <p><%= @recipe.preparation_time %></p>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= @recipe.public ? 'checked' : '' %> >
      <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
    </div>
  </div>
  <p><%= @recipe.cooking_time %></p>
  <p><%= @recipe.description %></p>
</main>