<h1>Foods</h1>
<%= link_to "Add New Food", new_food_path, class: "btn btn-primary" %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><%= food.unit %></td>
        <td>
          <%= form_with(model: food, method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
            <%= form.submit "Destroy" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>