<h1>Shopping List</h1>
<div class="col">
  <div class="row">
    <h2>
      Amount of food to buy
    </h2>
    <h2>
      <%= @shopping_list.length %>
    </h2>
  </div>
  <div class="row">
    <h1>Total food price: </h1>
    <h1>
      <%= @shopping_list.sum(&:price) %>
    </h1>
  </div>
</div>

<div class="col">
  <div class="row">
    <h2>
      Recipe: 
    </h2>
    <h2>
      <%= @recipe.name %>
    </h2>
  </div>
  <div class="row">
    <h1>Inventory: </h1>
    <h1>
      <%= @inventory.name %>
    </h1>
  </div>
</div>
<% if @shopping_list.any? %>
<table>
  <tr>
    <th>Food Name</th>
    <th>Unit</th>
    <th>Price</th>
  </tr>
  <% @shopping_list.each do |item| %>
    <tr>
      <td><%= item.food.name %></td>
      <td><%= item.food.unit %></td>
      <td><%= item.food.price %></td>
    </tr>
  <% end %>
</table>

<% else %>
  <h1>All ingredients in stock!</h1>
<% end %>
</table>