<main>
  <ul class='container-fluid'>
    <% @recipe_foods.each do |recipe_food| %>
      <li class='d-flex justify-content-between'>
        <p>
          <%= recipe_food.food.name %>
        </p>
        <p>
          <%= recipe_food.quantity %>
        </p>
        <p>
          <%= recipe_food.food.price * recipe_food.quantity %>
        </p>
        <%= form_with(model: recipe_food, method: :delete) do |form| %>
          <%= form.submit "REMOVE", class:'link-set link-primary' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>